In [1]:
import pandas as pd

In [28]:
import numpy as np

In [44]:
df = pd.read_csv("salaries_by_college_major.csv")

In [45]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business

In [4]:
df.shape[0]

51

In [5]:
df.columns, len(df.columns)

(Index(['Undergraduate Major', 'Starting Median Salary',
        'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
        'Mid-Career 90th Percentile Salary', 'Group'],
       dtype='object'),
 6)

In [6]:
df.dropna().shape

(50, 6)

In [7]:
clean_df = df.dropna()

In [8]:
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [9]:
clean_df["Starting Median Salary"].idxmax()

43

In [10]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [11]:
clean_df.loc[clean_df["Mid-Career Median Salary"].idxmax()]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [12]:
clean_df.loc[clean_df["Starting Median Salary"].idxmin()]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [13]:
clean_df.loc[clean_df["Mid-Career Median Salary"].idxmin()]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [14]:
spread = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]
clean_df.insert(1, "Spread", spread)

In [15]:
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [16]:
low_risk = clean_df.sort_values("Spread")
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [17]:
low_risk[['Undergraduate Major', 'Spread']].tail()

   Undergraduate Major    Spread
42          Philosophy  132500.0
36           Marketing  132900.0
37                Math  137800.0
22             Finance  147800.0
17           Economics  159400.0

In [19]:
potential = clean_df["Mid-Career Median Salary"] - clean_df["Starting Median Salary"]
clean_df.insert(1, "Potential", potential)

ValueError: cannot insert Potential, already exists

In [22]:
high_potential = clean_df.sort_values("Potential", ascending=False)
high_potential[['Undergraduate Major', 'Potential']].head()

     Undergraduate Major  Potential
17             Economics    48500.0
44               Physics    47000.0
37                  Math    47000.0
8   Chemical Engineering    43800.0
12  Computer Engineering    43600.0

In [23]:
high_90th_median = clean_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
high_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
44               Physics                           178000.0
37                  Math                           183000.0
8   Chemical Engineering                           194000.0
12  Computer Engineering                           162000.0

In [24]:
clean_df.loc[37]

Undergraduate Major                      Math
Spread                               137800.0
Starting Median Salary                45400.0
Mid-Career Median Salary              92400.0
Mid-Career 10th Percentile Salary     45200.0
Mid-Career 90th Percentile Salary    183000.0
Group                                    STEM
Potential                             47000.0
Name: 37, dtype: object

In [29]:
clean_df.groupby("Group").apply(lambda x: np.mean(x["Starting Median Salary"]))

Group
Business    44633.333333
HASS        37186.363636
STEM        53862.500000
dtype: float64

In [30]:
clean_df.groupby("Group").apply(lambda x: np.mean(x["Mid-Career Median Salary"]))

Group
Business    75083.333333
HASS        62968.181818
STEM        90812.500000
dtype: float64

In [35]:
clean_df.groupby("Group").count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Potential
Group,,,,,,,
Business,12,12,12,12,12,12,12
HASS,22,22,22,22,22,22,22
STEM,16,16,16,16,16,16,16

In [40]:
pd.options.display.float_format='{:,.2f}'.format

In [41]:
clean_df.drop(["Undergraduate Major"], axis=1).groupby("Group").mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Potential
Group,,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00","30,450.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64","25,781.82"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00","36,950.00"

In [46]:
df = pd.read_csv("payscale2023.csv")

In [47]:
df.head()

,Rank,Major,Early Career Pay,Mid-Career Pay
0,1,Petroleum Engineering,93200,187300
1,2,Operations Research & Industrial Engineering,84800,170400
2,3,Electrical Engineering & Computer Science (EECS),108500,159300
3,4,Interaction Design,68300,155800
4,5,Public Accounting,59800,147700

In [49]:
df.shape, df.dropna().shape

((827, 4), (827, 4))

In [55]:
df.sort_values("Mid-Career Pay", ascending=False).head(10)

,Rank,Major,Early Career Pay,Mid-Career Pay
0,1,Petroleum Engineering,93200,187300
1,2,Operations Research & Industrial Engineering,84800,170400
2,3,Electrical Engineering & Computer Science (EECS),108500,159300
3,4,Interaction Design,68300,155800
4,5,Public Accounting,59800,147700
5,6,Operations Research,83500,147400
6,7,Applied Economics and Management,66100,146400
7,8,Business Computing (BC),73000,143600
8,9,Actuarial Mathematics,64300,143400
9,10,Electrical Power Engineering,76100,142600

In [57]:
df.sort_values("Early Career Pay", ascending=False).head(10)

,Rank,Major,Early Career Pay,Mid-Career Pay
2,3,Electrical Engineering & Computer Science (EECS),108500,159300
75,76,Physician Assistant Studies,95900,118500
0,1,Petroleum Engineering,93200,187300
1,2,Operations Research & Industrial Engineering,84800,170400
158,158,Nuclear Engineering Technology (NET),83500,106000
5,6,Operations Research,83500,147400
58,58,Metallurgical Engineering,81800,122200
278,279,Computer Science (CS) & Business,81100,94600
36,37,Welding Engineering,81000,126600
330,331,Electronic Systems Technology (EST),81000,91200